<div class="modal fade"
    [ngClass]="{ 'in': is_shown }"
    (click)="hide($event)"
    [ngStyle]="{ 'display': is_visible? 'block': 'none' }"
    role="dialog"
>
    <div class="modal-dialog" role="document" (click)="preventHide()">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="hide($event)"
            ><span class="close-glyph glyphicon glyphicon-remove" aria-hidden="true"></span>
        <!--<span aria-hidden="true">×</span>--></button>
          <h4 class="modal-title"><ng-content select="dialog-header"></ng-content></h4>
        </div>
        <div class="modal-body">
            <ng-content select="dialog-body"></ng-content>
        </div>
        <div class="modal-footer">
            <ng-content select="dialog-footer"></ng-content>
        </div>
    </div>
    </div>
</div>
