
<form class="input-group reset-margin has-feedback"
    [ng-class]= "{ 'has-error': isInputInvalid() }">
    <span class="input-group-addon fa fa-search" id="addon-search"></span>
    <input type="text" class="form-control" autocomplete="off"
      placeholder="Search / Open a file..." aria-describedby="addon-search"
      ng-control="search" minlength="1" [(ng-model)]="input_value"
      select-this>
    <span class="control-label" *ng-if="isInputInvalid()">
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </span>

</form>

<div class="autocomplete-box">
    <div class="autocomplete-container list-group">
        <!-- <div class="autocomplete-suggestions list-group"> -->
            <button type="button" class="list-group-item"
                (click)="selectFile(select)"
                *ng-for="#file of file_filtered"
                [ng-class]="{ 'active': file === selected, 'file-readonly': file.locked }">
                {{file.name}}
                <span class="control-label">
                    <span class="file-readonly-icon form-control-feedback" *ng-if="file.locked"></span>
                </span>
            </button>
        <!-- </div> -->
    </div>
</div>
