
<header class="navbar navbar-fixed-top navbar-empty">
  <div class="container-fluid">
    <div class="logo center-logo">
      <img src="/img/logo.png"/>
    </div>
    <div class="toolbar" *ngIf="!isLoginPage()">
      <div class="toolbar-options">
          <button [routerLink]="['./ScriptEditor']"
                class="btn btn-default fa fa-wrench" tooltip="Settings editor"></button>
          <button [routerLink]="['./MapEditor']"
                class="btn btn-default fa fa-fort-awesome" tooltip="Map editor"></button>
          <button [routerLink]="['./ScriptEditor']"
                class="btn btn-default fa fa-code" tooltip="Script editor"></button>
          <button [routerLink]="['./Profile']"
                class="btn btn-default fa fa-user" tooltip="Profile"></button>
          <button (click)="logout()" class="btn btn-default fa fa-sign-out"
            tooltip="Sign out"></button>
      </div>
    </div>
  </div>
</header>

<!-- <div class="rule-editor--toolbar">
  <button class="fa fa-search"></button><input />
</div> -->
