<!-- index.html -->
<html>
  <head>
    <title>Editor</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        // Zone.js is modifying those, we need to keep them
        // for the map rendering.
        window.unwrapedRequestAnimationFrame = window.requestAnimationFrame;
        window.unwrapedCancelAnimationFrame = window.cancelAnimationFrame;
        window.unwrapedSetTimeout = window.setTimeout;
    </script>
    <% for (var file of htmlWebpackPlugin.files.js) { %>
        <% if (file.indexOf('index') == -1) { %>
            <script src="<%= file %>"></script>
        <% } %>
    <% } %>
  </head>
  <body>
    <app></app>
    <script src="/js/ace-min.js"></script>
    <script src="/js/ext-language_tools.js"></script>
    <% for (var file of htmlWebpackPlugin.files.js) { %>
        <% if (file.indexOf('index') != -1) { %>
            <script src="<%= file %>"></script>
        <% } %>
    <% } %>
  </body>
</html>
