$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Font default
$font-family-sans-serif:  "Source Sans Pro";
$font-family-serif:       "Source Sans Pro";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "theme/constants";

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
      url("/fonts/source-sans-pro/SourceSansPro-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
      url("/fonts/source-sans-pro/SourceSansPro-Regular.otf") format('opentype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"),
      url("/fonts/source-sans-pro/SourceSansPro-Semibold.otf") format('opentype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
      url("/fonts/source-sans-pro/SourceSansPro-Bold.otf") format('opentype');
}

body {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    margin: 0px;
    padding-top: 58px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro';
}

.close-glyph {
    font-size: 18px; // 13px
}

.fade-in {
    transition: 0.5s opacity;
    opacity: 0;
}

header.navbar-empty {
    background: $navbar-background-color;
    border-bottom: 1px solid $navbar-border-bottom-color;
}

header.navbar.navbar-fixed-top.navbar-empty {
    background: $navbar-background-color none repeat scroll 0% 0%;
    border-bottom: 1px solid $navbar-border-bottom-color;
}

.all-editor--nav-background {
    background: $navbar-background-color-darker;
    border-bottom: 1px solid $navbar-border-bottom-color;
    border-top: 1px solid $navbar-border-bottom-color;
    position: absolute;
    width: 100vw;
    left: 0;
    // TODO: This should really not be a magic number
    // Find a way to load bootstrap values
    top: $navbar-height + 12px;
    height: 56px; // Same for this value
}

.display-none { display: none; }
