@import "theme/constants";

.login-box .login-heading h3 {
    font-weight: 300;
    line-height: 1.5;
    margin: 0px 0px 10px;
}

.login-box {
    background: $login-background-color none repeat scroll 0% 0%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #CCC;
    padding: 15px;
}
