<div class="row prepend-top-20 fade-in">
  <div class="col-sm-5 pull-right">
  <div class="login-box">
    <div class="login-heading">
      <h3>Sign in</h3>
    </div>
    <form (submit)="doLogin($event)" #loginForm="ngForm" novalidate>

      <div class="form-group has-feedback" [ngClass]="{
        'has-error': (login.invalid && login.touched) ||
                     loginAttemptFailed,
        'has-success': login.valid && login.touched && !loginAttemptFailed }" >

        <input class="form-control" type="text" placeholder="Username"
               [(ngModel)]="username" minlength="1" required
               name="username"
               #login="ngModel">
        <span class="control-label" [hidden]="login.invalid || login.untouched">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        </span>
        <span class="control-label" [hidden]="login.valid || login.pristine">
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </span>
        <span class="control-label" [hidden]="login.valid || login.pristine">
          Login is required
        </span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{
        'has-error':  (pwd.invalid && pwd.touched) ||
                      loginAttemptFailed,
        'has-success': pwd.valid && pwd.touched && !loginAttemptFailed }">

        <input class="form-control" type="password" placeholder="Password"
               [(ngModel)]="password" minlength="1" required
               name="password"
               #pwd="ngModel">
        <span class="control-label" [hidden]="pwd.invalid || pwd.untouched">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        </span>
        <span class="control-label" [hidden]="pwd.valid || pwd.pristine">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </span>
        <span class="control-label" [hidden]="pwd.valid || pwd.pristine">
            Password is required
        </span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.form.valid">
          Log in
          <span class="fa fa-sign-in"></span>
      </button>
    </form>
  </div>
  </div>
  <div class="col-sm-7 pull-left">
    <h1>Dilia - Game Editor</h1>
  </div>
</div>
