<chipset-modal></chipset-modal>

<webgl-surface class="map-editor--canvas"></webgl-surface>

<div class="all-editor--nav-background"></div>

<nav class="navbar map-editor--nav">
    <div class="nav navbar-nav nav-option" role="search">
        <map-editor-settings (selectPanel)="openPanel($event)"></map-editor-settings>
    </div>
    <div class="nav navbar-nav navbar-right nav-option">
        <button class="btn btn-default"
            (click)="uploadChipset()">Upload Chipset</button>
        <button class="btn btn-success"
            [ngClass]="{ 'disabled': currentMapIsReadOnly() }"
            (click)="commit()">Commit</button>
        <button class="btn btn-primary" (click)="createNewMap()">
            <span class="fa fa-plus"></span> Create new</button>
    </div>
</nav>

<alert-box></alert-box>

<layer-panel [currentMap]="map_manager.currentMap()"></layer-panel>
